/*--- THE LATEST VERSION OF BOOTSTRAP OVERRIDES MORE OF THE BASE ELMENT FORMATTING ---*/
/*-- USE CLASSES AND IDs TO ADD YOUR OWN FORMATTING, NEED THE SPECIFICITY --*/

#mainBody {
  background-color: antiqueWhite;
  background-image: url("../assets/dog_on_a_balcony.jpg");
  background-size: cover;
}
.title {
  color: yellow;
  text-shadow: 1px 1px 1px black;
}
#titleBox {
  text-align: right;
}
#addDataBox, #tableBox{
  background-color: rgba(50, 50, 50, 0.5);
  color: white;
}
